@import './base'
page
  background: #eee
.container
  background: #eee
.thrbx
  padding: 10rpx
  .thrli
    background-color: #ffffff
    margin-bottom: 10rpx
    border-radius: 10rpx
    font-size: 24rpx
    color: #999999
    padding: 20rpx
    display: flex
    justify-content: space-between
    align-items: center
    .thrlil
      display: flex
      justify-content: space-between
      align-items: center
      .thrlilh
        width 50%
    .addrbx
      width 400rpx
      overflow hidden
      text-overflow: ellipsis
      white-space: nowrap
      display: inline-block
      vertical-align: top
    .thrimgbx
      width 175rpx
      height 100rpx
      overflow hidden
      display: inline-block
      image
        width 100%
        height 100%
    .thrbtna
      width 111rpx
      height 41rpx
      line-height: 41rpx
      text-align: center
      border: 2rpx solid $theme-color
      border-radius: 10rpx
      font-size: 20rpx
      display: inline-block
      color: $theme-color
    .thrbtnb
      background-color: $theme-color
      color: #ffffff
.n-nodata
  margin-top: 20rpx
  text-align: center
  font-size: 24rpx
  color:#888
.kptk
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.5)
  display: flex
  justify-content: center
  align-items: center
  z-index 99
  .kptkbx
    width 60%
    padding: 30rpx
    background-color: #ffffff
    border-radius: 10rpx
    color: #666666
    font-size: 24rpx
    .tkbtnbx
      display: flex
      justify-content: space-between
      .tkbtna
        font-size: 24rpx
        color: #ffffff
        width 180rpx
        height 60rpx
        line-height: 60rpx
        background-color: #999999
        border-radius: 8rpx
        text-align: center
        display: inline-block
      .tkbtnb
        background-color: $theme-color
.c6
  color: #666666
.flex
  display: flex
.flex-1
  flex: 1
.tc
  text-align: center
.mb10
  margin-bottom: 10rpx
.mb20
  margin-bottom: 20rpx
.mt20
  margin-top: 20rpx
.mt30
  margin-top: 30rpx
.mt50
  margin-top: 50rpx
.fs22
  font-size: 22rpx
