@import './base'

page,
.container 
  min-height: 100%;
  font-size: 28rpx;
  box-sizing: border-box
  color: #666

.page-btn
  width: 685rpx
  height: 80rpx
  line-height: 80rpx
  background: #d7092d
  color: #fff
  margin-top: 20rpx
  font-size: 30rpx
