$picPath = 'http://d7.cto.shovesoft.com/msywap/images/'


hasPoint()
  position: relative
  &:before
    content: '*'
    color: #f00
    position: absolute
    left: -16rpx
$theme-color = #d7092d

//清除滚动条
::-webkit-scrollbar
  width: 0
  height: 0
  color: transparent

.clearfix
  zoom: 1
.clearfix:after
  content: ""
  clear: both
  visibility: hidden
  display: block
  font-size: 0
  height: 0
  line-height: 0

ellp()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

ellps(line = 2)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp line
  overflow hidden

moreIcon(rt = 30rpx)
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    right: rt
    margin: auto
    display: block
    width: 15rpx
    height: 15rpx
    border-top: 2rpx solid #666
    border-right: 2rpx solid #666
    transform: rotate(45deg)