@import './base'
page 
  background: #eee
.container
  background: #eee
.c-dtbx
  margin: 10rpx
  padding: 40rpx
  background-color: #ffffff
  border-radius: 10rpx
.f24
  font-size: 24rpx
.f60
  font-size: 60rpx
.c9
  color: #999999
.c6
  color: #666666
.red
  color: $theme-color
.lv
  color: #80c269
.tc
  text-align: center
.mb50
  margin-bottom: 50rpx
.mb20
  margin-bottom: 20rpx