@import './base'

.code-biulding,.code-builded
  display: flex
  flex-flow: column
  justify-content: space-between
  align-items: center
.code-biulding
  .top-tips
    color: $theme-color
    font-size: 20rpx
    line-height: 60rpx
    margin-bottom: 200rpx
  >image
    width: 135rpx
    height: 243rpx
    flex: 0 0 243rpx
    margin-bottom: 20rpx
.code-builded
  >image
    width: 200rpx
    height: 200rpx
    flex: 0 0 200rpx
    margin: 300rpx auto 20rpx
  >text
    font-size: 24rpx
    color: #999