@import './base'
page 
  background: #eee
.container
  background: #eee
.httit
  width 100%
  height 90rpx
  line-height: 90rpx
  text-align: center
  background-color: #ffffff
  font-size: 30rpx
  color: #666666
  position absolute
  left 0
  top: 85rpx
.htcon
  padding: 10rpx
  background-color: #ffffff
  overflow: hidden
  overflow-y: scroll
  box-sizing:border-box
  font-size: 24rpx
  color: #666666
  position absolute
  left 0
  right: 0
  top:190rpx
  bottom:320rpx
  line-height: 28rpx !important
.htbtbig
  font-size: 24rpx
  color: #666666
  position: absolute
  left 0
  bottom: 10rpx
  right :0
  .htbna
    height 80rpx
    line-height: 80rpx
    background-color: #ffffff
    padding: 0 30rpx
    margin-bottom: 10rpx
    .htbnai
      width 23rpx
      height 26rpx
      margin-right: 10rpx
  .htxx
    background-color: #ffffff
    margin-bottom: 10rpx
    .htxxbx
      display: flex
      height 59rpx
      line-height: 59rpx
      border-bottom: 2rpx solid #eeeeee
      .htxxbxa
        width 185rpx
        text-align: center
        border-right: 2rpx solid #eeeeee
      .htxxbxb
        flex: 1
        text-align: center
  .htbtnbx
    padding: 0 30rpx
    display: flex
    justify-content: space-between
    .htbtna
      width 310rpx
      height 80rpx
      line-height: 80rpx
      text-align: center
      color: #ffffff
      font-size: 30rpx
      background-color: #666666
      border-radius: 10rpx
    .htbtnb
      width 310rpx
      height 80rpx
      line-height: 80rpx
      text-align: center
      color: #ffffff
      font-size: 30rpx
      background-color: $theme-color
      border-radius: 10rpx
.tipbig
  position absolute
  left 0
  right: 0
  top:0
  bottom:0
  background rgba(0,0,0,.6)
  z-index 99
  display: flex
  justify-content: center
  align-items: center
  .tipbx
    width 80%
    background-color: #ffffff
    border-radius: 8rpx
    font-size: 24rpx
    padding: 20rpx
    .tiptit
      font-size: 30rpx
      color: #666666
      margin-bottom: 10rpx
      text-align: center
    .tiptxt
      width 95%
      border: 2rpx solid #cccccc
      padding: 10rpx
      color: #666666
      height 100rpx
      margin-bottom: 10rpx
    .tipwx
      color: $theme-color
      margin-bottom: 20rpx
    .tipbtnbx
      display: flex
      justify-content: center
      .tipbtna
        width 200rpx
        height 70rpx
        line-height: 70rpx
        text-align: center
        color: #ffffff
        background-color: $theme-color
        border-radius: 10rpx
      .tipbtnb
        background-color: #666666
        margin-left: 40rpx