@import './base'
page 
  background: #eeeeee
.container
  background: #eee
.n-ctt
  position: fixed
  left: 0
  right 0
  top: 85rpx
  z-index 9
  .n-ctta
    background-color: #ffffff
    border-bottom: 2rpx solid #eeeeee
    display: flex
    justify-content: space-around
    align-items: center
    .n-cttabx
      width: 33.3%
      font-size: 28rpx
      color: #666666
      position relative
      text-align: center
      padding-top: 15rpx
      padding-bottom: 24rpx
      &.cur
        color: $theme-color
        border-bottom: 4rpx solid $theme-color
        padding-bottom: 20rpx
  .n-scroll
    background-color: #ffffff
    width 100%
    overflow hidden
    white-space: nowrap
    border-bottom: 2rpx solid #eeeeee
    .n-scrollbx
      width:auto
      overflow:hidden
    .n-cttbx
      padding: 15rpx 23rpx 19rpx
      color: #666666
      font-size: 24rpx
      display: inline-block
      &.cur
        color: $theme-color
        border-bottom: 4rpx solid $theme-color
        padding-bottom: 15rpx
.c-htbx
  margin: 155rpx 10rpx 0
  .c-htli
    padding: 18rpx
    background-color: #ffffff
    margin-bottom: 10rpx
    border-radius: 8rpx
    font-size: 22rpx
    color: #999999
    .c-htlil
      width 59%
    .c-htlibt
      border-top: 2rpx solid #eeeeee
      padding-top: 10rpx
      .c-htlilc
        width 60%
      .c-htbtna
        color: #ffffff
        padding: 8rpx 20rpx
        border-radius: 8rpx
        background-color: $theme-color
      .c-htbtnb
        color: $theme-color
        padding: 4rpx 16rpx
        border-radius: 8rpx
        border:2rpx solid $theme-color
        margin-left: 10rpx
.n-nodata
  margin-top: 155rpx
  text-align: center
  font-size: 24rpx
  color:#888
.c6
  color:#666666
.red
  color: $theme-color
.fwb
  font-weight: bold
.flex
  display: flex
.flex-1
  flex: 1
.left
  float: left 
.right
  float: right 
.mb10
  margin-bottom: 10rpx
