.flex_item
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80rpx;
    padding: 0 25rpx;
    font-size: 24rpx;
    background: #fff;
    border-bottom: 1px solid #eee;
    .label
        color: #999;
    .text_input
        border: none;
        padding: 0 15rpx;
        box-sizing: border-box;
        flex: 1;
    .span
        color: #666;
        &.red
            color: #d7092d;
page 
    background-color: #f6f6f6;
.upLoad
    background-color: #fff;
    padding: 20rpx 25rpx;
    .just_p
        font-size: 24rpx;
    .red
        display: inline;
        color: #d7092d;
    .img_list
        padding-top:15rpx;
        display: flex;
        >image
            width: 100rpx;
            height: 100rpx;
            border: 1px solid  #eee;
            margin-right: 20rpx;
        .upload_btn
            width: 100rpx;
            height: 100rpx;
            .btn_img
                width: 100%;
                height: 100%;


            
.sumit_btn
    position: fixed;
    bottom: 10rpx;
    left: 10rpx;
    right: 10rpx;
    height: 80rpx;
    background-color: #d7092d;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    text-align: center; 
    border-radius: 10rpx;