@import './base'
page 
  background: #eeeeee
.container
  background: #eee
.n-ctt
  position: fixed
  left: 0
  right 0
  top: 85rpx
  z-index 9
  .n-ctta
    background-color: #ffffff
    border-bottom: 2rpx solid #eeeeee
    display: flex
    justify-content: space-around
    align-items: center
    .n-cttabx
      width: 33%
      font-size: 28rpx
      color: #666666
      position relative
      text-align: center
      padding-top: 15rpx
      padding-bottom: 24rpx
      &.cur
        color: $theme-color
        border-bottom: 4rpx solid $theme-color
        padding-bottom: 20rpx
.fpsh
  margin: 95rpx 15rpx 0
  .fpshli
    color: #999999
    font-size: 24rpx
    margin-bottom: 30rpx
    .fpshlibx
      background-color: #ffffff
      padding: 20rpx
      border-radius: 10rpx
      .fpshlibxl
        width 50%
      .fpshbtna
        font-size: 20rpx
        color: #ffffff
        padding: 6rpx 16rpx
        border: 2rpx solid $theme-color
        background-color: $theme-color
        border-radius: 8rpx
        display: inline-block
        margin-left: 20rpx
      .djp
        margin-bottom: 10rpx
      .zfpz
        width 113rpx
        height 50rpx
        vertical-align: middle
.n-nodata
  margin-top: 20rpx
  text-align: center
  font-size: 24rpx
  color:#888
.c6
  color: #666666
.mb10
  margin-bottom: 10rpx
.mt10
  margin-top: 10rpx
.tc
  text-align: center
.tr
  text-align: right
.flex
  display: flex
.flex-1
  flex: 1
.border-bottom
  border-bottom: 2rpx solid #eeeeee
.border-top
  border-top: 2rpx solid #eeeeee
.pt10
  padding-top: 10rpx
.f22
  font-size: 22rpx
