.g_btn
    width:100rpx;
    height:40rpx;
    position: absolute;
    right: 130rpx;
    background: #fff;
    color: #d7092d;
    font-size: 24rpx;
    text-align: center;
    line-height: 40rpx;
    border-radius: 10rpx;
    top: 20rpx;
.edit
    position: absolute;
    font-size: 24rpx;
    right: 25rpx;
    color: #fff;
    top: 0;
    .edit_img
        display: inline-block;
        width: 30rpx;
        height 24rpx;
        vertical-align: middle;
        position: static;
.order_header 
    position: fixed;
    top: 0;
    left: 0;
    right 0;
.order_main
    padding-top: 100rpx;
.order_item .main_cont .right_cont .flex_box:last-child
    border: none;
.order_item .main_cont .right_cont .flex_box .w186
    color: #666
.goods_btn
    border-top:1px solid #eee;
    padding: 0 30rpx;
    align-items: center;
    .btn_small
        height:40rpx;
        font-size: 24rpx;
        width: 150rpx;
        background: #d7092d;
        color: #fff;
        border-radius: 10rpx;
        text-align: center;
        line-height: 40rpx;
.goods_layer
    display: none;
    &.show
        display: block;
        .layer_gary
            opacity :1;
    .layer_gary
            position: fixed;
            top: 0;
            left: 0;
            z-index: 198;
            width: 100%;
            height: 100%;
            background: rgba(102,102,102,0.7);
            opacity: 0;
            transition: all .3s;
    .layer_main
        width: 500rpx;
        top:256rpx;
        z-index: 199;
        position: fixed;
        left:0;
        right:0;
        margin: auto;
        border-radius: 10px;
        background: #fff;
        font-size: 24rpx;
        text-align: center;
        overflow : hidden;
        .h1
            padding-top: 24rpx;
        .info
            padding: 30rpx;
        .btn_group
            padding:0 20rpx 30rpx 20rpx;
            display: flex;
            justify-content: space-between;
            .btn_layer
                width: 45%;
                height:60rpx;
                line-height: 60rpx;
                text-align: center;
                color: #fff;
                background: #dc0202;
                border-radius: 10rpx;
                &.cancel
                    background: #666;
.pd_80
     padding-bottom: 80rpx;          
.btn_bottom
    height: 80rpx;
    position: fixed;
    line-height: 80rpx;
    text-align: center;
    color: #fff;
    background: #ccc;
    bottom: 0;
    width:100%;