@import './base'

.goods-item
  margin: 0 10rpx 10rpx
  background: #fff
  border-radius: 10rpx
  height: 115rpx
  padding: 10rpx 0
  box-sizing: border-box
  display: flex
  justify-content: space-between
  font-size: 24rpx
  .b-a
    flex: 0 0 195rpx
    box-sizing: border-box
    padding: 0 10rpx
    display: flex
    justify-content: space-between
    align-items: center
    .a-type
      flex: 0 0 45rpx
      line-height: 45rpx
      border-radius: 100%
      color: #999
      border: 1rpx solid #999
      text-align: center
    .a-min
      display: flex
      &.am1
        font-size: 48rpx
      &.am2
        font-size: 18rpx
      .down
        color: #80c269
      .up
        color: $theme-color
        &:before
          content: '+'
  .b-b,.b-c,.b-d,.b-e,.c-a
    border-left: 1rpx solid #eee
    display: flex
    flex-flow: column
    justify-content: space-around
    align-items: center
    padding: 0 10rpx
    box-sizing: border-box
    text-align: center
    >text:first-child
      line-height: 40rpx
      max-width: 140rpx
      ellp()
  .b-b
    flex: 0 0 150rpx
  .b-c
    flex: 0 0 140rpx
  .b-d
    flex: 0 0 115rpx
    .share
      font-size: 18rpx
      >image
        width: 29rpx
        height: 20rpx
        vertical-align: bottom
        margin-right: 5rpx
  .noti
    width: 76rpx
    line-height: 26rpx
    font-size: 18rpx
    border: 2rpx solid #666
    border-radius: 10rpx
  .b-b,.b-c
    >text:last-child
      font-size: 20rpx
      margin-top: 5rpx
  .b-e
    .date
      font-size: 20rpx
    .buy
      width: 115rpx
      line-height: 46rpx
      border-radius: 6rpx
      background: $theme-color
      color: #fff
      font-size: 18rpx
  .goods-name
    font-size: 32rpx
    flex: 1 0 auto
    text-align: center
  .c-a
    text-align: center
    flex: 0 0 400rpx
  .c-a-info
    display: flex
    justify-content: center
    >text:nth-child(1)
      width: 110rpx
      border-right: 1rpx solid #eee
    >text:nth-child(2)
      width: 110rpx
      margin: 0 30rpx 0
      border-right: 1rpx solid #eee
  .c-a-cont
    max-width: 380rpx
    ellp()
      