@import './base'
.container
  background: #eee
.tptop
  background-color: #ffffff
  border-bottom: 10rpx solid #eeeeee
.tptit
  height 80rpx
  padding: 0 30rpx
  display: flex
  align-items: center
  font-size: 30rpx
  color: #666666
  .tit-i
    width 4rpx
    height 28rpx
    display: inline-block
    background-color: $theme-color
    margin-right: 10rpx
.tpyy
  height 80rpx
  padding: 0 30rpx
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 24rpx
  color: #666666
.tpbz
  .tpbztxt
    width 75%
    height 400rpx
    line-height: 30rpx
    color: #666666
    font-size: 24rpx
    border: 2rpx solid #999999
    background-color: #eeeeee
    padding: 3%
    margin: 0 auto
  .tpbzw
    margin: 10rpx 70rpx
    font-size: 18rpx
    color: #999999
    .tpbzi
      width: 21rpx
      height: 21rpx
      background: url($picPath + 'icon/gtIcon.png') no-repeat
      background-position: center
      background-size:cover
      display: inline-block
      vertical-align: middle
      margin-right: 10rpx
.btnbx
  margin: 40rpx 30rpx
  display: flex
  justify-content: space-between
  .btna
    width 315rpx
    height 80rpx
    line-height: 80rpx
    text-align: center
    color: #ffffff
    font-size: 30rpx
    display: inline-block
    background-color: $theme-color
    border-radius: 10rpx
  .btnb
    background-color: #999999
.borderbt-e
  border-bottom: 2rpx solid #eeeeee
.bgf
  background-color: #ffffff