@import './base'
page
  background: #eee
.container
  background: #eee
.fpbig
  padding: 10rpx
  .fpbx
    padding: 20rpx
    background-color: #ffffff
    border-radius: 10rpx
    margin-bottom: 10rpx
    font-size: 24rpx
    color: #666666
    .fpbxl
      width 60%
    .fpbxsa
      color: #999999
      width 120rpx
      display: inline-block
.n-nodata
  margin-top: 20rpx
  text-align: center
  font-size: 24rpx
  color:#888
.mb20
  margin-bottom: 20rpx
.red
  color: $theme-color
.fs36
  font-size: 36rpx
.fs22
  font-size: 22rpx
.flex
  display: flex
.flex-1
  flex: 1