@import './base'
page
  background: #eee
.container
  background: #eee
.kpli
  color: #999999
  font-size: 24rpx
  background-color: #ffffff
  height 90rpx
  border-bottom: 2rpx solid #eeeeee
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 30rpx
  .sjr
    width 156rpx
    height 60rpx
    line-height: 60rpx
    border: #c8c8c8 2rpx solid 
    text-align center
    border-radius: 10rpx
    display: inline-block
  .magsjr
    width 160rpx
    height 64rpx
    line-height: 64rpx
    text-align center
    border-radius: 10rpx
    display: inline-block
    color: #ffffff
    margin-left: 20rpx
    background-color: $theme-color
.kptip
  color: $theme-color
  font-size: 20rpx
  padding: 0 30rpx
  height 45rpx
  line-height: 45rpx
  .tpbzi
    width: 21rpx
    height: 21rpx
    background: url($picPath + 'icon/gtIcon.png') no-repeat
    background-position: center
    background-size:cover
    display: inline-block
    vertical-align: middle
    margin-right: 10rpx
.kpbt
  height 100rpx
  padding: 0 30rpx
  position: fixed
  left 0
  right 0
  bottom: 0
  display: flex
  justify-content: space-between
  align-items: center
  .kpbtna
    width 310rpx
    height 80rpx
    line-height: 80rpx
    text-align: center
    color: #ffffff
    font-size: 30rpx
    border-radius: 10rpx
    background-color: #999999
  .kpbtnb
    background-color: $theme-color
.bgf
  background-color: #ffffff
.c6
  color: #666666