@import './base'
page
  background: #eee
.container
  background: #eee
.ioul
  margin: 10rpx
  .ioli
    padding: 20rpx
    margin-bottom: 10rpx
    background-color: #ffffff
    border-radius: 10rpx
    font-size: 24rpx
    color: #999999
    .iolip
      display: flex
      justify-content: space-between
      .iolipl
        width 50%
    .iolibtn
      width 115rpx
      height 46rpx
      line-height: 46rpx
      text-align: center
      color: #ffffff
      font-size: 20rpx
      background-color: $theme-color
      border-radius: 10rpx
      margin-left: 20rpx
      display: inline-block
.red
  color: $theme-color
.mb20
  margin-bottom: 20rpx
.tr
  text-align: right 
.c6
  color: #666666
.f20
  font-size: 20rpx