.yulan
    width: 120rpx;
    height: 50rpx;
    border: 1px solid #d7092d;
    color: #d7092d;
    font-size: 26rpx;
    text-align:center;
    line-height: 50rpx;

.order_header
    height: 85rpx
    background: #d7092d
    padding:0 30rpx
    line-height: 85rpx
    font-size: 30rpx
    color: #fff
    text-align: center
    position: relative
    position: fixed;
    left:0;
    right 0;
    top:0;
    z-index:99
    >image
        width: 38rpx;
        height: 39rpx;
        position: absolute;
        left 30rpx;
        top: 21rpx;
    .kefu
        position: absolute;
        top: 0;
        right: 30rpx;
        font-size: 24rpx;
        image
            height: 24rpx;
            width: 30rpx;

.file_cont
    margin-top: 85rpx;
    .flex_box
        display: flex;
        height: 80rpx;
        align-items: center;
        justify-content: space-between;
        padding: 0 30rpx;
        border-bottom: 1px solid #eee;
        .name
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 24rpx;
.info_warm
    display: flex;
    padding:15rpx;
    background: #feecbf;
    margin-bottom: 100rpx;
    image
        width:24rpx;
        height: 24rpx;
        margin-right: 20rpx;
    .flex_1
        flex: 1;
        font-size: 24rpx;