@import './base'
.container
  background: #eee
.n-timebx
  height 45rpx
  display: flex
  align-items: center
  justify-content: center
  background-color: #feecbf
  color: #666666
  font-size: 20rpx
  .n-warni
    width 21rpx
    height 21rpx
    display: inline-block
    vertical-align: middle
    background: url($picPath + "icon/gtIcon.png") no-repeat
    background-size: 100%
    margin-right: 10rpx
  .n-time
    font-size: 24rpx
    color: $theme-color
.n-table
  background-color: #ffffff
  .n-tr
    height 60rpx
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #666666
    color: #eeeeee
    .n-th
      width 25%
      border-right: 2rpx solid #eeeeee
      color: eee 
      font-size: 24rpx
      text-align: center
      height 60rpx
      line-height: 60rpx
      &:last-child
        border-right: none 
  .n-tt
    height 60rpx
    display: flex
    justify-content: space-between
    border-bottom:2rpx solid #eeeeee
    font-size: 24rpx
    color: #999999
    .n-td
      width 25%
      height 60rpx
      line-height: 60rpx
      text-align: center
      border-right: 2rpx solid #eeeeee
      position: relative
      .seldjq
        position: absolute
        right: 10rpx
        top: 0rpx
      .n-inpa
        width 50%
        height 40rpx
        line-height: 40rpx
        text-align: center
        border: 2rpx solid #eeeeee
        margin: 8rpx auto
        display: block
      .n-ssbx
        width 50%
        height 40rpx
        line-height: 40rpx
        border: 2rpx solid #eeeeee
        margin: 8rpx auto
        display: flex
        .n-ssbxs
          width 50rpx
          height 40rpx
          line-height: 40rpx
          text-align: center
        .n-ssbxm
          height 40rpx
          line-height: 40rpx
          text-align: center
          border-left: 2rpx solid #eeeeee
          border-right: 2rpx solid #eeeeee
    .f18
      font-size: 18rpx
  .n-bt
    height 60rpx
    line-height: 60rpx
    border-bottom:2rpx solid #eeeeee
    font-size: 24rpx
    color: #999999
    text-align: center
    navigator
      display: inline-block
    checkbox
      transform: scale(0.6,0.6)
.n-btnbx
  margin-top: 40rpx
  margin-bottom:10rpx
  padding: 0 30rpx
  .n-btnaa
    width 100%
    height 80rpx
    line-height: 80rpx
    text-align: center
    color: #ffffff
    background-color: $theme-color
    border-radius: 8rpx
    font-size: 30rpx
.cf
  color: #ffffff
.c6
  color: #666666
.f30
  font-size: 30rpx
.f22
  font-size: 22rpx
.f20
  font-size: 20rpx
.f18
  font-size: 18rpx
.flex-1
  flex:1
.red
  color: $theme-color
.lv
  color: #80c269