@import './base'
page 
  background: #eee
.container
  background: #eee
.n-dtbx
  margin: 10rpx
  padding: 40rpx
  background-color: #ffffff
  border-radius: 10rpx
  font-size: 24rpx
  color: #666666
  .n-dttime
    margin-top: 20rpx
    margin-bottom: 40rpx
    text-align: center 
  .n-dtcont
    min-height: 350rpx
    display: block
  .n-dtbtna
    width: 306rpx
    height 76rpx
    line-height: 76rpx
    text-align: center
    border-radius: 8rpx
    border: 2rpx solid $theme-color
    font-size: 30rpx
    color: #ffffff
    background-color: $theme-color
    display: inline-block
  .n-dtbtnb
    background-color: #ffffff
    color: $theme-color
.tc
  text-align: center
.mb30
  margin-bottom: 30rpx