@import './base'
page 
    background-color: #eee
.order_header
    height: 85rpx
    background: #d7092d
    padding:0 30rpx
    line-height: 85rpx
    font-size: 30rpx
    color: #fff
    text-align: center
    position: relative
    .show_tab
        font-size: 24rpx
        position: absolute
        top: 0
        right 30rpx

    .wx-switch-input
        width:72rpx !important;
        height:42rpx !important;
       
    .wx-switch-input::before
        width: 36rpx !important;
        height: 40rpx !important;
    .wx-switch-input::after
        width: 36rpx !important;
        height: 40rpx !important;
        background-color: #d7092d!important
    
    image
        width: 38rpx
        height: 39rpx
        position: absolute
        left 30rpx
        top: 21rpx
.order_main
    padding: 10rpx
    color: #666
    font-size: 24rpx
.order_item
    background: #fff
    border: 1px solid #eee
    .top
        padding: 0 15rpx 0 20rpx
        display: flex
        height:60rpx;
        line-height: 60rpx
        justify-content: space-between
        border-bottom: solid 1px #eeeeee;
    .timer
        font-size: 18rpx
    .main_cont
        display: flex
        .pro_name
            width: 193rpx
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            border-right: 1px solid  #eee
            .status
                display: block
                width 45rpx
                height 45rpx
                border-radius: 50%
                border: 1px solid #999
                color: #999
                text-align: center
                line-height: 45rpx
                margin-top: 20rpx;
        .right_cont
            flex: 1
            .f20
                font-size: 20rpx;
            view 
                height: 60rpx
                line-height: 60rpx
                text-align: center
                white-space: nowrap
                text-overflow: ellipsis
                overflow hidden
            .flex_box
                display: flex
                border-bottom: 1px solid #eee
                &.right
                    justify-content: flex-end
                    padding:0 10rpx 
                    align-items: center
                .w134
                    width 134rpx
                    border-right: 1px solid #eee
                .w186
                    width 186rpx
                    border-right: 1px solid #eee
                   	color: #d7092d
                .w85
                    width 85rpx
                    border-right: 1px solid #eee
                .flex_1
                    flex: 1
                .btn_order
                    width: 135rpx;
                    height: 46rpx;
                    border-radius: 8px;
                    border: solid 1px #d7092d;
                    line-height: 46rpx;
                    color: #d7092d
                    text-align: center
                    box-sizing: border-box
.type_order
    display: flex
    height: 90rpx
    background: #fff
    line-height: 86rpx
    color: #666666
    .cur text
        border-bottom: 2px solid #d7092d
        width:50%
        display:inline-block
        color: #d7092d

    view 
        flex: 1
        text-align: center
     

