@import './base'
page 
    background-color: #eee
.order_header
    height: 85rpx
    background: #d7092d
    padding:0 30rpx
    line-height: 85rpx
    font-size: 30rpx
    color: #fff
    text-align: center
    position: relative
    .show_tab
        font-size: 24rpx
        position: absolute
        top: 0
        right 30rpx

    .wx-switch-input
        width:72rpx !important;
        height:42rpx !important;
       
    .wx-switch-input::before
        width: 36rpx !important;
        height: 40rpx !important;
    .wx-switch-input::after
        width: 36rpx !important;
        height: 40rpx !important;
        background-color: #d7092d!important
    
    image
        width: 38rpx
        height: 39rpx
        position: absolute
        left 30rpx
        top: 21rpx
.order_main
    padding: 10rpx
    color: #666
    font-size: 24rpx
    padding-top: 275rpx
.order_item
    background: #fff
    border: 1px solid #eee
    margin-bottom: 9rpx
    .top
        padding: 0 15rpx 0 20rpx
        display: flex
        height:60rpx;
        line-height: 60rpx
        justify-content: space-between
        border-bottom: solid 1px #eeeeee;
    .timer
        font-size: 18rpx
    .main_cont
        display: flex
        .pro_name
            width: 193rpx
            flex: 0 0 193rpx
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            border-right: 1px solid  #eee
            .status
                display: block
                width 45rpx
                height 45rpx
                border-radius: 50%
                border: 1px solid #999
                color: #999
                text-align: center
                line-height: 45rpx
                margin-top: 20rpx;
        .right_cont
            flex: 1
            .f20
                font-size: 20rpx;
            view 
                height: 60rpx
                line-height: 60rpx
                text-align: center
                white-space: nowrap
                text-overflow: ellipsis
                overflow hidden
            .flex_box
                display: flex
                align-items: center
                border-bottom: 1px solid #eee
                &.right
                    justify-content: flex-end
                    padding:0 10rpx 
                    align-items: center
                .w134
                    width 134rpx
                    border-right: 1px solid #eee
                .w150
                    width 150rpx
                    flex: 0 0 150rpx
                    border-right: 1px solid #eee
                   	color: #d7092d
                .w160
                    width: 160rpx
                    flex: 0 0 160rpx
                    line-height: 30rpx
                    height: auto
                    overflow: visible
                    word-break: break-all
                    white-space: pre-wrap
                .w85
                    width 85rpx
                    border-right: 1px solid #eee
                .flex_1
                    flex: 1
                .btn_order
                    padding: 0 15rpx
                    height: 46rpx;
                    border-radius: 8px;
                    border: solid 1px #d7092d;
                    line-height: 46rpx;
                    color: #d7092d
                    text-align: center
                    box-sizing: border-box
                    &.red
                        background-color: #d7092d
                        color: #fff
                    +.btn_order
                        margin-left: 15rpx
.type_order_con
    position: fixed
    top: 0
    width:100%
    box-shadow: 0 2rpx 6rpx 0 rgba(13, 17, 41, 0.2);



.type_order
    display: flex
    height: 90rpx
    background: #fff
    line-height: 86rpx
    color: #666666
    &.jk
        .cur text
            width: auto
    .cur text
        border-bottom: 2px solid #d7092d
        width:50%
        display:inline-block
        color: #d7092d

    view 
        flex: 1
        text-align: center



.jingkuang_control
    display: flex
    justify-content: space-between
    height: 90rpx
    position: relative
    .sec_jK
        width: 150rpx
        background: #fff
        text-align: center
        line-height: 90rpx
        border-right: 1rpx solid #eeeeee
        .ab_list
            position: absolute
            border-top: 1px solid #eee
            top:100%
            width: 100%
            background: #fff
            text-align: center
            line-height: 90rpx
            box-shadow: 0 3px 5px rgba(0,0,0,0.1);
            transition: all .3s;
            transform: translateY(-100%);
            opacity:0
            transition: all .3s;
            z-index:-1
            &.show
                transform: translateY(0);
                opacity:1
                z-index:2
    .type_order
        flex: 1
    .max120
        max-width: 120rpx;

