page 
    background-color: #f4f4f4


.container
    padding-bottom: 100rpx;
.top
    font-size: 24rpx;
    height: 50rpx;
    line-height: 50rpx;
    padding: 0 30rpx;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    .timer
        font-size: 18rpx;
.table
    background-color: #fff;
    .tr
        display: flex;
        .td
            flex: 1;
            height: 60rpx;
            line-height: 60rpx;
            text-align: center;
            border-top: 1px solid #eee;
            border-right: 1px solid #eee;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 24rpx;
            &:first-child
                color: #999;
                width 200rpx;
                flex: 0 1 auto;
            &:nth-child(3)
                color: #999;
.info
    background-color: #fff;
    margin-top: 15rpx;
    font-size: 26rpx;
    .h1
        font-size: 30rpx;
        padding:0 30rpx;
        height: 80rpx;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        justify-content: space-between;
        .span
            line-height: 1em;
            padding-left: 10rpx;
            border-left: 1px solid #d7092d;
    .info_item
        padding: 0 30rpx;
        display: flex;
        justify-content: space-between;
        height: 90rpx;
        align-items: center;
        border-bottom: 1px solid #eee;
        .icon_t
            width: 30rpx;
            height 30rpx;
            vertical-align: middle;
        .icon_you
            width: 20rpx;
            height 20rpx;
.mingxi
    height:40rpx;
    font-size: 24rpx;
    line-height: 40rpx;
    border-bottom: 1px solid #ccc;
    margin:  0 30rpx;

.more
    font-size: 24rpx;

.black_btn
    height: 80rpx;
    position: fixed;
    bottom: 10rpx;
    left: 30rpx;
    right:30rpx;
    background-color: #d7092d;
    text-align: center;
    line-height: 80rpx;
    color: #fff;
    border-radius: 8rpx;