.order_header
    height: 85rpx
    background: #d7092d
    padding:0 30rpx
    line-height: 85rpx
    font-size: 30rpx
    color: #fff
    text-align: center
    position: relative
    position: fixed;
    left:0;
    right 0;
    top:0;
    z-index:99
    >image
        width: 38rpx;
        height: 39rpx;
        position: absolute;
        left 30rpx;
        top: 21rpx;
    .kefu
        position: absolute;
        top: 0;
        right: 30rpx;
        font-size: 24rpx;
        image
            height: 24rpx;
            width: 30rpx;
page 
   background: #f7f7f7;
.mt85
    margin-top: 85rpx;

.h1
    height:80rpx;
    background: #fff;
    padding: 0 20rpx;
    line-height: 80rpx;
    .span
        border-left: 5rpx solid #d7092d;
        padding-left: 10rpx;
        font-size: 30rpx;
        display: inline-block;
        line-height: 30rpx;
.goods
    margin: 10rpx;
    background: #fff;
    font-size: 24rpx;
    border-radius: 10rpx;
    .g_item
        display: flex;
        justify-content: space-between;
        padding: 0 15rpx;
        line-height: 45rpx;
        border-bottom: 1px solid #eee;
        .label
            color: #999;
        .span
            color #666;
.flex_box
    height: 80rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 25rpx;
    background-color: #fff;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    .phone_btn
        display: inline-block;
        vertical-align: middle;
        padding:5rpx 10rpx;
        background: #d7092d;
        color:#fff;
        font-size: 24rpx;
        border-radius: 10rpx;
    .label
        color: #999;
        font-size: 26rpx;
    .span
        color: #666;
        font-size: 28rpx;

.show_tab
    display: flex;
    align-items: center;
    .tab_main
        width:170rpx;
        text-align: center;
        height: 36rpx;
        line-height: 36rpx;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        font-size: 24rpx;
        &.red
            color: #d7092d;
        &.lv
            color: #80c269;
    .btn
        height:45rpx;
        line-height: 40rpx;
        width: 45rpx;
        text-align: center;
        font-size: 24rpx;
        box-sizing: border-box;
        border:1px solid #eee;
        &.add
            color: #d7092d;
        &.del
            color: #80c269;
   .info_item
        display:flex;
        justify-content:space-between;
        padding:20rpx 25rpx;
        border-top:1px solid #eee;
        align-items:center;
        font-size:24rpx;
        background: #fff
      
        .input_box
            font-size: 24rpx;   
        input 
            display: inline-block;
            vertical-align: middle;
            text-align: right ;
            height 30rpx;
      
        .label
            display: inline-block;
            margin-right: 10rpx;
            color: #666;

.bottom_btn
    position: fixed;
    bottom:10rpx;
    left :10rpx;
    right: 10rpx;
    height: 70rpx;
    line-height: 70rpx;
    text-align: center;
    color:#fff ;
    background-color: #d7092d;
    border-radius: 10rpx;