.order_header
    height: 85rpx
    background: #d7092d
    padding:0 30rpx
    line-height: 85rpx
    font-size: 30rpx
    color: #fff
    text-align: center
    position: relative
    position: fixed;
    left:0;
    right 0;
    top:0;
    z-index:99
    >image
        width: 38rpx;
        height: 39rpx;
        position: absolute;
        left 30rpx;
        top: 21rpx;
    .kefu
        position: absolute;
        top: 0;
        right: 30rpx;
        font-size: 24rpx;
        image
            height: 24rpx;
            width: 30rpx;
page 
    background: #eee;
.option_div
    width:50%;
    background: #fff;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 85rpx;
    display: inline-flex;
    font-size: 26rpx;
    height:70rpx;
    border-bottom: 1px solid #eee;
    +.option_div
        border-left: 1px solid #eee;
    image
        width: 15rpx;
        height: 8rpx;
        margin-left: 10rpx;
    picker
        width: 100%;
        text-align: center;
.show_data
    position: fixed;
    top: 85rpx;
    padding: 10rpx ;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    left: 0
    right: 0;
    .section
        flex:1;
        text-align: center;
        .section__title
            color: #999;
            font-size: 26rpx;
            margin-bottom: 20rpx;
        picker
            background: #eee;
            width:200rpx;
            margin: 0 auto;
            height:50rpx;
            line-height: 50rpx;
            text-align: center;
            color: #666;
            border-radius: 10rpx;
            font-size: 24rpx;
    .submit_btn
        width: 175rpx;
        height :50rpx;
        line-height: 50rpx;
        margin: 20rpx auto 0 auto;
        background-color: #d7092d;
        color: #fff;
        border-radius: 20rpx;
        text-align: center;
        



.data_show
    text-align: center;
    font-size: 26rpx;
    padding-top: 20rpx;
    background: #fff;
    .bigred
        color: #d7092d;
        font-size: 30rpx;
        display: inline;
    .con
        display: flex;
        padding: 30rpx 0
        .item
            flex: 1;
            text-align: center;
            color: #d7092d;
            font-size: 40rpx;
            .name
                color: #999;
                font-size: 24rpx;


            +.item
                color: #80c269;
.list_cont
    margin-top: 30rpx;
    padding: 0 30rpx;
    .item
        color: #999;
        font-size: 26rpx;
        margin-bottom: 30rpx;
        .tiemr
            margin-bottom: 20rpx;
        .mian
            background: #fff;
            padding: 20rpx;
            border-radius: 10rpx;
            .type
                color: #333;
                margin-bottom: 20rpx;
                .lv
                    color: #80c269;
                .red
                    color: #d7092d;
            .fl
                float: right;
