.yulan
    width: 120rpx;
    height: 50rpx;
    border: 1px solid #d7092d;
    color: #d7092d;
    font-size: 26rpx;
    text-align:center;
    line-height: 50rpx;

.order_header
    height: 85rpx
    background: #d7092d
    padding:0 30rpx
    line-height: 85rpx
    font-size: 30rpx
    color: #fff
    text-align: center
    position: relative
    position: fixed;
    left:0;
    right 0;
    top:0;
    z-index:99
    >image
        width: 38rpx;
        height: 39rpx;
        position: absolute;
        left 30rpx;
        top: 21rpx;
    .kefu
        position: absolute;
        top: 0;
        right: 30rpx;
        font-size: 24rpx;
        image
            height: 24rpx;
            width: 30rpx;



.info_warm
    display: flex;
    padding:15rpx;
    background: #feecbf;
    margin-bottom: 100rpx;
    image
        width:24rpx;
        height: 24rpx;
        margin-right: 20rpx;
    .flex_1
        flex: 1;
        font-size: 24rpx;
.h3
    height:80rpx;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background: #fff;
    .span
        border-left: 5rpx solid #d7092d;
        padding-left: 10rpx;
        font-size: 26rpx;
        color: #333;
        line-height: 1em;


.file_cont
    margin-top: 85rpx;
    .flex_box
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:80rpx;
        padding:0 30rpx;
        border-bottom: 1px solid #eee;
        background: #fff;
        .label
            color: #999;
            font-size: 24rpx;
        .span
            color: #333;
            font-size: 26rpx;
        .red
            color: #d7092d;
            font-size: 26rpx;

page 
    background-color: #f7f7f7;
.detail_order
    display: flex;
    height :140rpx;
    align-items: center;
    margin: 10rpx 0; 
    background: #fff;
    .item
        display: flex;
        justify-content: center;
        flex: 1;
        +.item{
            border-left: 1px solid #eee;
        }
        image
            height: 40rpx;
            width: 55rpx;
            margin-right: 10rpx;
            vertical-align: middle;
.detail_option
    padding: 40rpx 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    .item
        flex: 1;
        justify-content: center;
        text-align: center;
        image
            display: block;
            width: 60rpx;
            height: 60rpx;
            margin: 0 auto 10rpx auto;
.info_warm
    display: flex;
    padding:15rpx;
    background: #feecbf;
    margin-bottom: 100rpx;
    image
        width:24rpx;
        height: 24rpx;
        margin-right: 20rpx;
    .flex_1
        flex: 1;
        font-size: 24rpx;

.orange
    color: #eb6100;
    display:inline;
.sumit_btn
    position: fixed;
    bottom: 10rpx;
    left: 10rpx;
    right: 10rpx;
    height: 80rpx;
    background-color: #d7092d;
    color: #fff;
    text-align: center;
    line-height: 80rpx;
    text-align: center; 
    border-radius: 10rpx;
.inline_input
    width:300rpx;
    text-align:right;
    display:inline-block;
    vertical-align: middle;
.getCode
    display: inline-block;
    vertical-align: middle;
    font-size: 24rpx;
    width: 160rpx;
    height: 50rpx;
    line-height: 50rpx;
    background-color: #eee;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10rpx;
    margin-left: 10rpx;