@import './base'
.container
  background: #eee
.sign-wrap
  padding: 0 30rpx
  .s-logo
    margin: 50rpx auto 36rpx
    width: 307rpx
    height: 339rpx
    display: block
  .s-ssp
    font-size: 30rpx
    color: #666666
    text-indent 60rpx
    line-height: 44rpx
  .s-rztit
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 30rpx
    color: #666666
    .s-down
      color: $theme-color
      font-size: 24rpx
  .s-rzcon
    font-size: 24rpx
    color: #666666
    line-height: 40rpx
  .s-rzadd
    font-size: 24rpx
    color: #666666
    line-height: 40rpx
    background-color: #ffffff
    padding: 10rpx 20rpx
    border-radius: 8rpx
    margin: 30rpx 0 20rpx
  .s-rzzt
    font-size: 36rpx
    color: $theme-color
    text-align: center
    margin-bottom: 24rpx
    .zt
      color:#666666
  .s-ztbtnbx
    text-align: center
    margin-bottom: 20rpx
    .s-ztbtn
      width: 313rpx
      height 80rpx
      line-height: 80rpx
      color: #ffffff
      text-align: center
      background-color: #666666
      border-radius 8rpx
      display: inline-block
      font-size: 30rpx
    .s-ztbtb
      background-color $theme-color
    .s-ztbtc
      width: 685rpx
.mt40
  margin-top: 40rpx
.mt50
  margin-top: 50rpx
.mb40
  margin-bottom: 40rpx
.red
  color: $theme-color
.mt10
  margin-top: 10rpx
.mr40
  margin-right 40rpx
.fwb
  font-weight: bold
::-webkit-scrollbar
  width: 0
  height: 0
  color: transparent
  