@import './base'
.container
  background: #eee
.sign-wrap
  height: 100%
  display: flex
  flex-flow: column
  align-items: center
  .s-logo
    margin: 50rpx 0 36rpx
    width: 403rpx
    height: 445rpx
    flex: 0 0 445rpx
  .s-ssp
    font-size: 30rpx
    color: #666666
    text-indent 60rpx
    margin-left: 30rpx
    margin-right: 30rpx 
  .mt40
    margin-top: 40rpx
  .mb40
    margin-bottom: 40rpx
  .s-btnbx
    position: absolute
    left: 0
    right: 0
    bottom: 20rpx
    text-align: center
    .f-btn
      width: 685rpx
      height: 80rpx
      line-height: 80rpx
      background: #d7092d
      color: #fff
      text-align: center
      font-size: 30rpx
      display: inline-block
      border-radius: 8rpx

  