@import './base'
page 
  background: #eeeeee
.container
  background: #eee
.shbx
  height 90rpx
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 30rpx
  color: #333333
  font-size: 24rpx
  background-color: #ffffff
  .yyinp
    width 100%
    height 90rpx
    line-height: 90rpx
    text-align: right 
.shbtnbx
  position: fixed
  left 0
  right 0
  bottom: 20rpx
  display: flex
  justify-content: space-around
  .shbtna
    width 300rpx
    height 80rpx
    line-height: 80rpx
    text-align: center
    color: #ffffff
    font-size: 24rpx
    display: inline-block
    background-color: #999999
    border-radius: 8rpx
  .shbtnb
    background-color: $theme-color
.flex-1
  flex: 1
.mr20
  margin-right: 20rpx